* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.background {
  background-image: url(IMG-20251009-WA0253.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
}

h2 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(8, 62, 116);
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(9, 5, 117);
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.form-group input::placeholder {
  color: rgba(81, 67, 67, 0.8);
} 

.form-group input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}

input {
  border-radius: 35px;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background: #ffffff;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.login-button:hover {
  background: #c7d5d8;
  transform: translateY(-1px);
  cursor: pointer;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
}

.footer-text a {
  text-decoration: none;
  color: rgb(11, 54, 97);
}

.footer-text a:hover {
  text-decoration: underline;
  color: rgb(8, 77, 147);
}


@media (max-width: 768px) {
  .form-container {
    top: 70%;
    
  }
}
@media (max-width: 480px) {
  .form-container {
    padding: 30px 20px;
  }
  h2 {
    font-size: 24px;
  }
}